<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body ng-app="wt">

<div class="container">
<h2>Paladin</h2>
<div class="row">
  <div ng-controller="home" class="col-lg-12">
    <form ng-submit="sim()" role="form">

      <div class="form-group">
        <label for="crit-rating">Crit Rating</label>
        <input id="crit-rating" ng-model="pally.baseStats.critRating" placeholder="Crit Rating">
        {{pally.stats.critPercent}}%
      </div>
      <div class="form-group">
        <label for="mastery-rating">Mastery Rating</label>
        <input id="mastery-rating" ng-model="pally.baseStats.masteryRating" placeholder="Mastery Rating">
        {{pally.stats.masteryPercent}}%
      </div>
      <div class="form-group">
        <label for="strength">Strength</label>
        <input id="strength" ng-model="pally.baseStats.strength" placeholder="strength">
        <b>STR</b><em>{{pally.stats.strength}}</em>
        <b>AP</b><em>{{pally.stats.attackPower}}</em>

      </div>
      <div class="form-group">
        <label for="haste-rating">Haste Rating</label>
        <input id="haste-rating" ng-model="pally.baseStats.hasteRating" placeholder="Haste Rating">
        {{pally.stats.hastePercent}}%
      </div>
      <div class="form-group">
        <label for="multistrike-rating">Multistrike Rating</label>
        <input id="multistrike-rating" ng-model="pally.baseStats.multistrikeRating" placeholder="Multistrike Rating">
        {{pally.stats.multistrikePercent}}%
      </div>
      <div class="form-group">
        <label for="versatility-rating">Versatility Rating</label>
        <input id="versatility-rating" ng-model="pally.baseStats.versatilityRating" placeholder="Versatility Rating">
        {{pally.stats.versatilityPercent}}%
      </div>
      <div ng-show="damage > 0">
        <h2>{{damage}} damage over {{sims}} sims of {{duration}} seconds. {{damage/(duration*sims)}}DPS</h2>
      </div>
      <div class="form-group">
        <label for="sims">Sims to run</label>
        <input id="sims" ng-model="sims">
      </div>

      <input type="submit" class="btn btn-primary" value="Sim">
      <highchart id="chart1" config="chartConfig" class="span10"></highchart>

      {{chartConfig}}
    </form>
  </div>
</div>
</div>
<script src="js/index-browser.js"></script>
<script src="../bower_components/highcharts/highcharts-all.js"></script>
<script src="../bower_components/highcharts-ng/dist/highcharts-ng.js"></script>

</body>

</html>