<div class="talents">
  <h3>Talents</h3>
  <div>
    <div class="btn-group">
      <label class="btn btn-primary"  ng-model="talents[75]" btn-radio="t.short" ng-repeat="t in talents75">{{t.name}}</label>
    </div>
  </div>
  <br>
  <div>
    <div class="btn-group">
      <label class="btn btn-primary"  ng-model="talents[90]" btn-radio="t.short" ng-repeat="t in talents90">{{t.name}}</label>
    </div>
  </div>
  <br>
  <div>
    <div class="btn-group">
      <label class="btn btn-primary"  ng-model="talents[100]" btn-radio="t.short" ng-repeat="t in talents100">{{t.name}}</label>
    </div>
  </div>
  <!---<button ng-click="getTalents()" class="btn btn-primary">Get Talents</button>--->
</div>
