<div class="talents">
  <h3>Talents</h3>
  <div>
    <h4>Level 75</h4>
    <label class="btn btn-primary btn-xs btn-block"  ng-model="talents[75]" btn-radio="t.short" ng-repeat="t in talents75">{{t.name}}</label>
  </div>
  <br>
  <div>
    <h4>Level 90</h4>
    <label class="btn btn-primary btn-xs btn-block"  ng-model="talents[90]" btn-radio="t.short" ng-repeat="t in talents90">{{t.name}}</label>
  </div>
  <br>
  <div>
    <h4>Level 100</h4>
    <label class="btn btn-primary btn-xs btn-block"  ng-model="talents[100]" btn-radio="t.short" ng-repeat="t in talents100">{{t.name}}</label>
  </div>
  <!---<button ng-click="getTalents()" class="btn btn-primary">Get Talents</button>--->
</div>
